<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Water Temperature</title>
    <style>
        table {
            text-align: center;
            width: 80%;
            border: 1px black solid;
        }

        td {
            text-align: center;
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <BODY BGCOLOR="#0D6D3F">
    <BODY text="#E9B99C">
    <table>
        <tr>
            <th>Location</th>
            <th>Date & Time</th>
            <th>Current Temperature</th>
        </tr>
        {% for reading in readings %}
            <tr>
                <td>
                    {{ reading['sensor'] }}
                </td>
                <td>
                    {{ reading['datetime'] }}
                </td>
                <td>
                    {{ reading['temp'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>